{% extends 'base.html' %}

{% block title %}
    Give Us your personal information for API
{% endblock title %}

{% block content %}
    <form action="/" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-control {% if field.errors %}errors{% endif %}">
            {{ field.label_tag }}
            <p></p>
            {{ field }}
            <p></p>
            {{ field.errors }}
        </div>
        {% endfor %}
        <p></p>
        <button type="submit">Send</button>
    </form>
{% endblock content %}